* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.mainContainer {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.CardContainer {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    height: 60vh;
    width: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}

.QRImageContainer {
    overflow: hidden;
    padding: 10px;
  
}

.QRImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#primaryPara {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    width: 85%;
    padding: 5px;

}

#secondayPara {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    width: 85%;
    padding: 5px;
    color: hsl(216, 15%, 48%)
}